{
  "BASE": {
    "logging_level": "info",
    "datastore": "sqllite",
    "email_delivery": "smtp"
  },
  "ECS_CONNECTION": [ {
    "protocol": "https",
    "host": "xx.xx.xx.xx",
    "port": "4443",
    "user": "root",
    "password": "abcdefg"
  }],
  "ECS_ALERT_SYMPTOM_CODES": ["", ""],
  "SQLLITE_DATABASE_CONNECTION": {
    "databasename": "ecsalerts"
  },
  "ECS_API_POLLING_INTERVALS": {
    "ecs_collect_alert_data()": "60"
  },
  "SMTP": {
    "host": "<smtp_host>",
	"port": "<smtp_host_port>",
    "user": "<user>",
    "password":  "<password>",
    "fromemail": "from_email_address",
    "toemail": "to_email_address",
    "polling_interval_seconds": "120"
  },
  "SEND_GRID": {
    "api_key": "<send grid email address>",
    "fromemail": "<from_email_address>",
    "toemail": "<to_email_address>",
    "debuglevel": "0",
    "polling_interval_seconds": "120"
  }
}
